<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.fml.mvc.dao.intf.TbCustomerDao">
<resultMap id="custumer" type="java.util.Map">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="phoneNo" column="PNONE_NO" />
        <result property="level" column="LEVEL" />
    </resultMap>
    <resultMap id="agentcustomer" type="java.util.Map"> 
        <result property="name" column="NAME" />
        <result property="phoneNo" column="PNONE_NO" />
        <result property="agentAccount" column="AGENT_ACCOUNT" />
         <result property="buildingName" column="BUILDING_NAME" />
         <result property="createTime" column="CREATE_TIME" />
          <result property="status" column="STATUS" />
    </resultMap>
     <resultMap id="keycustomer" type="java.util.Map"> 
        <result property="name" column="NAME" />
        <result property="phoneNo" column="PNONE_NO" />
        <result property="keyAccount" column="KEY_ACCOUNT" />
        <result property="buildingName" column="BUILDING_NAME" />
         <result property="createTime" column="CREATE_TIME" />
          <result property="status" column="STATUS" />
    </resultMap>
    <!-- 查找经纪人客户 -->
    <select id="queryAgentCustomers" resultMap="agentcustomer" parameterType="java.lang.String">
select a.NAME  ,a.PNONE_NO,b.PHONE_NO as AGENT_ACCOUNT,c.BUILDING_NAME,d.CREATE_TIME,d.STATUS from tb_customer a 
left join ts_user b on a.TS_USER_ID=b.id left JOIN TB_CUSTOMER_INTENTION_BUILDING c on a.id=c.TB_CUSTOMER_ID left join 
TB_CUSTOMER_REPORT d on a.id=d.TB_CUSTOMER_ID where b.ROLE_CODE='agent'
<if test="name != null">and name LIKE '%${name}%'</if>
		<if test="id != null">and id = #{id}</if>
		LIMIT #{startIndex},#{pageSize}
	</select>	
	<!-- 经纪人客户数量 -->
	<select  id="getAgentCustomersCount" resultType="Long" parameterType="java.util.Map">
		SELECT count(*) from  tb_customer a join ts_user b on a.TS_USER_ID=b.id 
		where a.DELETE_FLAG='0' and b.ROLE_CODE='agent'
		<if test="name != null">and name LIKE '%${name}%'</if>
		<if test="id != null">and id = #{id}</if>
	</select>
     <!-- 查找关键人客户 -->
    <select id="queryKeyCustomers" resultMap="keycustomer" parameterType="java.lang.String">
select a.NAME  ,a.PNONE_NO,b.PHONE_NO as KEY_ACCOUNT,c.BUILDING_NAME,d.CREATE_TIME,d.STATUS from tb_customer a 
left join ts_user b on a.TS_USER_ID=b.id left JOIN TB_CUSTOMER_INTENTION_BUILDING c on a.id=c.TB_CUSTOMER_ID left join 
TB_CUSTOMER_REPORT d on a.id=d.TB_CUSTOMER_ID where b.ROLE_CODE='key'
		<if test="name != null">and name LIKE '%${name}%'</if>
		<if test="id != null">and id = #{id}</if>
		LIMIT #{startIndex},#{pageSize}
	</select>
	<!-- 关键人客户数量 -->
	<select  id="getKeyCustomersCount" resultType="Long" parameterType="java.util.Map">
		SELECT count(*) from  tb_customer a join ts_user b on a.TS_USER_ID=b.id 
		where a.DELETE_FLAG='0' and b.ROLE_CODE='key'
		<if test="name != null">and name LIKE '%${name}%'</if>
		<if test="id != null">and id = #{id}</if>
	</select>
	
<!-- 累计带看次数 -->
	<select id="queryTimesByMonth" resultType="Integer" parameterType="java.lang.Integer">
		select count(id) from tb_customer_report 
WHERE `STATUS`='2' and DATE_FORMAT(UPDATE_TIME,'%Y%m')=DATE_FORMAT(SYSDATE(),'%Y%m') ;
	</select>
	
	<select id="queryTimesByYear" resultType="Integer" parameterType="java.lang.Integer">
		select count(id) from tb_customer_report 
WHERE `STATUS`='2' and DATE_FORMAT(UPDATE_TIME,'%Y')=DATE_FORMAT(SYSDATE(),'%Y') ;
	</select>
	
	<select id="queryTimesByWeek" resultType="Integer" parameterType="java.lang.Integer">
		select count(id) from tb_customer_report 
WHERE `STATUS`='2' and DATE_FORMAT(UPDATE_TIME,'%Y%u')=DATE_FORMAT(SYSDATE(),'%Y%u') ;
	</select>
	<!--  查找成交量报表数据-->
	<select id="queryReports" resultType="Map" parameterType="java.util.Map">
select DATE_FORMAT(UPDATE_TIME,'%Y%m') date,count(id) as times from tb_customer_report 
WHERE `STATUS`='3' GROUP BY DATE_FORMAT(UPDATE_TIME,'%Y%m') ;
	</select>	
		<!-- 客户列表-->
	<select id="queryCustomerList" resultType="Map" >
select ID as id ,NAME as name ,PNONE_NO as phone,LEVEL as level,FIRST_LETTER as firstLetter from tb_customer;
	</select>	
	
	<!-- 客户详情 -->
	<select id="queryCustomerDetail" resultType="Map" >
select NAME,PNONE_NO,LEVEL from tb_customer where id=#{customerId};
	</select>	
	<!-- 意向最低价格 -->
		<select id="queryminPrice" resultType="Double" >
select  VALUE  from tb_customer_intention where type=2 and TB_CUSTOMER_ID=#{customerId};
	</select>	
	<!-- 意向最高价格 -->
		<select id="querymaxPrice" resultType="Double"  >
select  VALUE  from tb_customer_intention where type=3 and TB_CUSTOMER_ID=#{customerId};
	</select>
	<!-- 意向类型-->
		<select id="queryTypes" resultType="java.lang.String" >
select  VALUE as Types from tb_customer_intention where type=1 and TB_CUSTOMER_ID=#{customerId};
	</select>
	<!-- 意向区域-->
		<select id="queryAreas" resultType="java.lang.String"   >
select  VALUE as area from tb_customer_intention where type=4 and TB_CUSTOMER_ID=#{customerId};
	</select>
	<!-- 意向户型-->
		<select id="queryHouseTypes" resultType="java.lang.String"  >
select  VALUE as houseTypes from tb_customer_intention where type=5 and TB_CUSTOMER_ID=#{customerId};
	</select>
	<!-- 已报楼盘列表-->
	<select id="queryReportList" resultType="Map">
SELECT a.TB_BUILDING_ID,a.STATUS,b.NAME from tb_customer_report a join TB_BUILDING b on a.TB_BUILDING_ID=b.ID where a.TB_CUSTOMER_ID=#{customerId} ;
	</select>
</mapper>