<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  
	    <!-- 将数据库字段命名规则A_COLUMN转换为Java使用的驼峰式命名规则aCloumn -->  
	    <setting name="mapUnderscoreToCamelCase" value="true" />  
	</settings>
	<typeAliases>
		<package name="cn.com.fml.mvc.dmo" />
	</typeAliases>
	<mappers>
		<mapper resource="cn/com/fml/mvc/dmo/TsUserMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TsRoleMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TsAssetsMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TbHeadlinesMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TbHotBuildingMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/DevelopersNewsMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/HouseTypeMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/HouseBanMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TbCommissionMapper.xml" />
	</mappers>
</configuration> 