<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="cn.com.fml.mvc.dmo" />
	</typeAliases>
	<mappers>
		<mapper resource="cn/com/fml/mvc/dmo/TsUserMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TsRoleMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TsAssetsMapper.xml" />
		<mapper resource="cn/com/fml/mvc/dmo/TbHeadlinesMapper.xml" />
	</mappers>
</configuration> 